@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.task {
  display: flex;
  background-color: $secondary-bg-color;
  cursor: pointer;

  &.done {
    background-color: rgba(17, 24, 39, 0.3);
    color: #cad2dd;
  }

  .task__content-wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;

    &:hover {
      border-bottom: 1px solid $secondary-color;
    }

    .task__left-column {
      display: flex;
      flex-direction: column;
      gap: 4px;


      .task__description-icon {
        position: relative;

        &.has-description {
          @include icon("\f036");

          &::before {
            font-size: 12px;
          }
        }

        &:hover::after {
          @include tooltip(25px, 0);
        }
      }
    }

    .task__right-column {
      display: flex;
      align-items: center;
      gap: 24px;

      .task__open-actions-btn {
        position: relative;
        @include icon("\f053");

        &::before {
          font-size: 12px;
          padding: 5px 10px;
          margin: -5px -10px;
        }

        &.open {
          @include icon("\f054");

          &::before {
            padding-right: 0;
            margin-right: 8px;
          }
        }

        &:hover::after {
          @include tooltip(20px,-40px);
        }
      }
    }
  }

  .task__actions-wrapper {
    display: flex;
    flex-direction: column;
    width: 0;
    transition: width 0.2s ease;
    overflow: hidden;

    &.open {
      width: 29px;
    }

    .task__done {
      @include button(15px, #008000FF, #006400FF);
      @include icon("\f14a");
      border-radius: 0;

      .task.done & {
        background-color: #006400FF;
      }
    }

    .task__remove {
      @include button(15px, #FF0000FF, #8B0000FF);
      @include icon("\f1f8");
      border-radius: 0;
      color: $font-color;
    }
  }
}
