.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 24, 39, 0.5);
}

.form-wrapper[hidden] {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  padding: 20px;
  background-color: rgb(31, 41, 55);
  border: 1px solid rgb(55, 65, 81);
  border-radius: 5px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.form__inputs input, textarea {
  background-color: rgb(31, 41, 55);
  border: 1px solid rgb(55, 65, 81);
  border-radius: 5px;
  padding: 5px 8px;
  margin-bottom: 8px;
  resize: none;
}

.form__textarea {
  overflow: auto;
}

.form__textarea::-webkit-scrollbar {
  width: 15px;
}

.form__textarea::-webkit-scrollbar-track {
  background-color: rgb(31, 41, 55);
  margin: 5px 0;
  border-radius: 8px;
}

.form__textarea::-webkit-scrollbar-thumb {
  background-color: rgb(37, 99, 235);
  border-radius: 8px;
  border: 5px solid rgb(31, 41, 55);
  min-height: 50px;
}

.required, .invalid {
  box-shadow: 0 0 3px darkred;
}

.form__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex: 1 1 auto;
  width: 100%;
}

.form__buttons button {
  margin-left: 8px;
}

.form__buttons button:first-child {
  margin-left: 0;
}
