button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 24, 39, 0.5);
}

.modal-container.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 0 1 auto;
  padding: 20px;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.modal__title {
  text-align: left;
  width: 100%;
}

.modal.add .modal__title-edit,
.modal.add .form__edit-buttons {
  display: none;
}

.modal.edit .modal__title-add {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__input {
  display: block;
  width: 100%;
  background-color: #18202f54;
  border-radius: 5px;
  padding: 5px 8px;
}

.form__input:focus {
  border-bottom: 1px solid var(--secondary-color);
}

.form__input.disabled {
  cursor: not-allowed;
}

.form__error-message {
  color: var(--error-color);
  font-size: 14px;
}

#input-name-label.has-error #input-name {
  border-bottom: 1px solid var(--error-color);
}

.form__inputs textarea {
  resize: none;
}

.form__inputs textarea::-webkit-scrollbar {
  width: 15px;
}

.form__inputs textarea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px var(--secondary-color);
  border: 5px solid transparent;
  border-radius: 8px;
  min-height: 50px;
  cursor: pointer;
}

.form__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.form__control-buttons,
.form__edit-buttons {
  display: flex;
  gap: 8px;
}

.form__control-btn {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.form__done-btn {
  background-color: green;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.form__done-btn:active {
  background-color: darkgreen;
  color: var(--animation-font-color);
}

.form__remove-btn {
  background-color: red;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.form__remove-btn:active {
  background-color: darkred;
  color: var(--animation-font-color);
}