body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--font-color);
}

.container {
  display: flex;
  justify-content: center;
  background-color: var(--primary-bg-color);
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 80%;
}

header,
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

header {
  padding: 10px 0 5px 2px;
  border-bottom: 1px solid var(--primary-color);
}

footer {
  padding: 2px 0 10px 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  gap: 8px;
}

.button {
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.click-animation {
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.scrolling::-webkit-scrollbar {
  width: 15px;
}

.scrolling::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px var(--secondary-color);
  border: 5px solid transparent;
  border-radius: 8px;
  min-height: 50px;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 2px;
  width: 100%;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
}

.navigation__search {
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  padding: 5px 8px 5px 35px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.navigation__search:focus {
  border-bottom: 1px solid var(--secondary-color);
}

.navigation__search:focus + .search-icon {
  color: var(--secondary-color);
}

.navigation__filters {
  display: flex;
  gap: 10px;
}

.filter {
  position: relative;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
}

.filter:hover::after {
  content: attr(data-tooltip);

  position: absolute;
  top: 30px;
  left: -27px;
  z-index: 1;

  display: inline-block;
  padding: 2px 4px;
  background-color: var(--primary-color);
  white-space: nowrap;
  font-size: 8px;
  color: #FFFFFF;
}

#filter-in-progress::before {
  content: "\f03a";
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
}

#filter-done::before {
  content: "\f0ae";
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
}

.enabled {
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.tasks {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  width: 100%;
  padding: 0 2px;
  overflow: auto;
}

.tasks__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#tasks__loader {
  min-height: 1px;
}

.task {
  display: flex;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.task.done {
  background-color: rgba(17, 24, 39, 0.3);
  color: #cad2dd;
}

.task__content-wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
}

.task__content-wrapper:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.task__left-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.task__right-column {
  display: flex;
  align-items: center;
  gap: 24px;
}

.task__open-actions-btn {
  position: relative;
}

.task__open-actions-btn::before {
  content: "\f053";
  font-family: "Font Awesome 6 Free", serif;
  font-size: 12px;
  font-weight: 900;
  padding: 5px 10px;
  margin: -5px -10px;
}

.task__open-actions-btn.open::before {
  content: "\f054";
  padding-right: 0;
  margin-right: 8px;
}

.task__open-actions-btn:hover::after {
  content: attr(data-tooltip);

  position: absolute;
  top: 20px;
  left: -40px;
  z-index: 1;

  display: inline-block;
  padding: 2px 4px;
  background-color: var(--primary-color);
  white-space: nowrap;
  font-size: 8px;
  color: #FFFFFF;
}

.task__actions-wrapper {
  display: flex;
  flex-direction: column;
  width: 0;
  transition: width 0.2s ease;
  overflow: hidden;
}

.task__actions-wrapper.open {
  width: 29px;
}

.task__done {
  border-radius: 0;
  font-size: 15px;
  background-color: #008000FF;
}

.task__done::before {
  content: "\f14a";
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
}

.task__done:active {
  background-color: #006400FF;
  color: var(--animation-font-color);
}

.task.done .task__done {
  background-color: #006400FF;
}

.task__remove {
  border-radius: 0;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #FF0000FF;
}

.task__remove::before {
  content: "\f1f8";
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
}

.task__remove:active {
  background-color: #8B0000FF;
  color: var(--animation-font-color);
}

.task__description-icon.has-description:before {
  content: "\f036";
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
  font-size: 12px;
}

.task__description-icon:hover::after {
  content: attr(data-tooltip);

  position: absolute;
  top: 43px;
  left: -10px;
  z-index: 1;

  display: inline-block;
  padding: 2px 4px;
  background-color: var(--primary-color);
  white-space: nowrap;
  font-size: 8px;
  color: #FFFFFF;
}

.open-task-form-add-task {
  background-color: var(--secondary-color);
}

.open-task-form-add-task::before {
  content: "\f055";
  margin-right: 8px;
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
}

.open-task-form-add-task:active {
  background-color: var(--button-animation-color);
  color: var(--animation-font-color);
}