body {
  display: flex;
  padding: 20px;
  background-color: rgb(17 24 39);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 5px;
  background-color: rgb(31 41 55);
}

.main__header,
.main__footer {
  height: 40px;
}

/*.main__header {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  color: rgb(229, 231, 235);*/
/*  font-size: 24px;*/
/*}*/

.main__body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  border-top: 1px solid rgb(55, 65, 81);
  border-bottom: 1px solid rgb(55, 65, 81);
}

.main__navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 80%;
}

.main__navigation:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(55, 65, 81);
}

.main__search {
  background-color: rgb(31 41 55);
  border: 1px solid rgb(55, 65, 81);
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 18px;
  color: rgb(221, 221, 221);
}

.main__files-container {
  flex: 1 1 auto;
  width: 80%;
  padding: 10px;
}

.main__buttons-panel {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  width: 80%;
  position: relative;
  padding: 8px;
}

.main__buttons-panel:before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(55, 65, 81);
}

.main__buttons-panel button {
  background-color: rgb(37, 99, 235);
  height: 30px;
  width: 110px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}
