:root{
  --bg-color: #1F2937FF;
  --primary-color: #374151FF;
  --secondary-color: #2563EBFF;
  --primary-font-color: #FFFFFF;
  --animation-color: #124edd;
  --animation-font-color: #cad2dd;
  --error-color: #EF4444;
  --remove-bg-color: #FF0000FF;
  --remove-animation-bg-color: #8B0000FF;
}