:root{
  --primary-bg-color: #1F2937FF;
  --secondary-bg-color: #18202f54;
  --primary-color: #374151FF;
  --secondary-color: #2563EBFF;
  --button-animation-color: #124edd;
  --font-color: #FFFFFF;
  --animation-font-color: #cad2dd;
  --error-color: #EF4444;
}