@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.navigation {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 2px;
  width: 100%;

  .search-wrapper {
    display: flex;
    gap: 8px;
    background-color: $secondary-bg-color;
    padding: 5px 8px;

    &:has(.navigation__search:focus) {
      border-bottom: 1px solid $secondary-color;

      #search-label::before {
        color: $secondary-color;
      }
    }

    #search-label {
      @include icon("\f002");

      &:before {
        color: $primary-color;
      }
    }

    .navigation__search {
      background-color: transparent;
    }
  }

  .navigation__filters {
    display: flex;
    gap: 10px;

    .filter {
      position: relative;
      background-color: transparent;
      border-radius: 5px;
      padding: 5px;
      color: $primary-color;
      font-size: 20px;
      cursor: pointer;

      &.enabled {
        background-color: $secondary-color;
        color: inherit;
      }

      &:hover::after {
        content: attr(data-tooltip);

        position: absolute;
        top: 30px;
        left: -27px;
        z-index: 1;

        display: inline-block;
        padding: 2px 4px;
        background-color: $primary-color;
        white-space: nowrap;
        font-size: 8px;
        color: $font-color;
      }
    }

    #filter-in-progress {
      @include icon("\f03a");
    }

    #filter-done {
      @include icon("\f0ae");
    }
  }
}
